body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
 
}

.main {
  height: 390px;
  width: 400px;
  overflow: hidden;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(173, 210, 244);
}

label {
  font-size: 20px;
  font-weight: 700;
}

h1 {
  color: whitesmoke;
  text-align: center;
  height: 50px;
  width: 100%;
  background-color: rgb(6, 6, 86);
}

.inputUser {
  margin-top: 50px;
  display: flex;
 justify-content: space-around;
}

input,
select,
option {
  border: none;
  height: 40px;
  border-bottom: 1px solid gray;
  width: 100%; /* Full width on small screens */
}

button {
  font-weight: 600;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2px;
}

button:hover {
  color: black;
  background-color: rgb(111, 183, 251);
  border-radius: 10px;
}

.answer {
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: large;
}

#convert {
  font-size: 20px;
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
  .main {
    width: 100%; /* Full width on small screens */
    height: 420px;
    
  }
 
  .inputUser {
    margin-top: 20px; /* Adjust margin for smaller screens */
    
  display: flex;
  flex-direction: column; /* Change to column on small screens */
  
  
  }
  
  
}
